<app-breadcrumb [crumbs]="breadcrumbs"/>
<div class="inner-content">
  <div class="flex flex-row justify-between gap-3 mb-5">
    <p class="infinity-title">Departments</p>
    <button nz-button nzType="primary" routerLink="/admin/departments/add-edit">Add New Department</button>
  </div>

  <div class="flex flex-row justify-between gap-3 items-center">
    <div class="flex flex-row justify-between gap-3">
      <nz-input-group nzPrefixIcon="search" class="max-w-[300px]">
        <input nz-input [(ngModel)]="searchTerm" placeholder="Search"/>
      </nz-input-group>

      <nz-select [(ngModel)]="status" [nzPlaceHolder]="'Select Status'">
        <nz-option [nzValue]="true" nzLabel="Active"></nz-option>
        <nz-option [nzValue]="false" nzLabel="Inactive"></nz-option>
      </nz-select>
      <button nz-button nzType="primary" (click)="onSearch()">Search</button>
      <button nz-button nzType="dashed" (click)="onReset()">Reset
        Filters
      </button>
    </div>

  </div>

  @if (loading) {
    <div class="h-[400px]">
      <nz-spin class="h-full my-auto" [nzSize]="'large'" nzTip="Loading Data..."></nz-spin>
    </div>
  } @else {
    <div>
      @if (tableData && tableData.length > 0) {
        <nz-table #depTable class="mt-8" [nzData]="tableData" nzSize="middle" [nzOuterBordered]="true"
                  [nzScroll]="{ x: '1180px' }" nzTableLayout="fixed" [nzFrontPagination]="false">
          <thead>
          <tr class="text-center">
            <th class="infinity-thead text-start">ID</th>
            <th>Department Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>
              <div class="flex justify-center w-full items-center pr-2">
                <span>Created Date</span>
                @if (sortOrder === -1) {
                  <span class="cursor-pointer" (click)="sort()"><span nz-icon nzType="caret-up"
                                                                      nzTheme="outline"></span></span>
                } @else {
                  <span class="cursor-pointer" (click)="sort()"><span nz-icon nzType="caret-down"
                                                                      nzTheme="outline"></span></span>
                }
              </div>
            </th>
            <th nzWidth="200px">Actions</th>
          </tr>
          </thead>
          <tbody>

            @for (item of tableData; track item._id) {
              <tr class="text-center">
                <td class="clickable-field text-start">{{ item.refNo }}</td>
                <td>{{ item.depName }}</td>
                <td>{{ item.description ? item.description : '-' }}</td>
                <td>
                  <nz-switch [(ngModel)]="item.active" [nzCheckedChildren]="checkedTemplate"
                             [nzUnCheckedChildren]="checkedTemplate"
                             (ngModelChange)="onSwitchChange($event, item)"></nz-switch>
                  <ng-template #checkedTemplate>
                    @if (item.active) {
                      <span nzColor="success">Active</span>
                    } @else {
                      <span nzColor="error">Inactive</span>
                    }
                  </ng-template>
                </td>
                <td>{{ item.createdAt | date: 'mediumDate' }}</td>
                <td class="flex justify-start gap-2">
                  <button nz-button nzType="dashed" routerLink="/admin/departments/add-edit/{{item._id}}">
                    Edit
                  </button>
                  <button nz-button nzDanger nzType="primary" (click)="showDeleteConfirm(item)">Delete</button>
                </td>
              </tr>
            }

          </tbody>

        </nz-table>
      } @else if (tableData.length === 0) {
        <div class="text-center my-5">
          <div class="py-36 bg-[#FFF7F7] rounded-md border-[0.5px] border-[#BD1A43]">
            <p class="text-[#BD1A43]">No Results Available</p>
          </div>
        </div>
      }


    </div>
  }
  <div class="flex flex-row justify-end items-center">
    <nz-pagination class="mt-4 flex items-end justify-end" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
                   [nzTotal]="totalRecords" (nzPageIndexChange)="onPageChange($event)">
    </nz-pagination>
  </div>


</div>
