<div class="bg-[#F9FBFF]">
  <div class="min-h-screen w-full flex flex-col justify-between">
    <div class="my-auto 2xl:mt-32 mb-0 h-[60px]">
      <img src="/assets/logo.png" class="w-full h-full object-contain" alt="Logo">
    </div>
    <div class="w-[360px] mx-auto my-auto flex flex-col">
      <h1 class="text-[1.5rem] mx-6 md:mx-0">Reset Password</h1>
      <p class="text-[0.875rem] text-[#64748B] mx-6 md:mx-0">Enter your new password here</p>
      <form nz-form [formGroup]="resetPasswordForm" [nzLayout]="'vertical'" class="mt-6 mx-6 md:mx-0" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
          <nz-form-item>
            <nz-form-control nzErrorTip="Your password must be at least 8 characters long and contain at least one lowercase letter, one uppercase letter, one number, and one special character">
              <nz-input-group [nzPrefix]="lockPrefixTemplate" [nzSuffix]="toggleIconTemplateNewPassword">
                <input [type]="passwordVisible ? 'text' : 'password'" formControlName="newPassword" nz-input placeholder="New Password" />
              </nz-input-group>
              <ng-template #lockPrefixTemplate>
                <i nz-icon nzType="lock"></i>
              </ng-template>
              <ng-template #toggleIconTemplateNewPassword>
                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" nzTheme="outline" (click)="togglePasswordVisibility()"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Passwords does not match!">
              <nz-input-group  [nzPrefix]="lockPrefixTemplate" [nzSuffix]="toggleIconTemplateConfirmPassword">
                <input [type]="newPasswordVisible ? 'text' : 'password'" formControlName="confirmPassword" nz-input placeholder="Confirm New Password" />
              </nz-input-group>
              <ng-template #lockPrefixTemplate>
                <i nz-icon nzType="lock"></i>
              </ng-template>
              <ng-template #toggleIconTemplateConfirmPassword>
                <i nz-icon [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'" nzTheme="outline" (click)="toggleNewPasswordVisibility()"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

        </div>
        <button class="" nz-button nzType="primary" nzBlock [nzLoading]="btnLoading" [disabled]="resetPasswordForm.invalid">
          <strong>Submit</strong>
        </button>
      </form>
      @if (actionMessage.display){
        <nz-alert class="mt-2 mx-6 md:mx-0" [nzType]="actionMessage.type" [nzMessage]="actionMessage.message" nzShowIcon></nz-alert>
      }
    </div>
    <div class="mb-8 mt-auto flex flex-col items-center justify-center">
      <div class="h-[30px]">
        <img src="/assets/logo.png" class="w-full h-full object-contain" alt="Logo">
      </div>
      <div class="text-[#64748B] text-[0.6875rem] mt-2">Powered By <a href="" target="_blank"><span class="text-[#6C066D] text-[0.75rem]">Edhirya Company </span></a></div>
    </div>
  </div>
</div>


